.container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 30px 0;
}

.search-box {
  width: 80%;
}

.recipes {
  margin-top: 20px;
  border-top: 1px solid #333;
  width: 80%;
}

.recipe-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.recipe-list.li {
  width: 20%;
}
